<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cobaa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.user.DetailQuisActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".activities.user.QuisTidakAcakActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".activities.admin.TambahSoalMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".activities.admin.EditSoalMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".activities.admin.EditSoalRandomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".activities.admin.TambahSoalRandomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".activities.admin.MasterDataPulauActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".activities.admin.AddPulauActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".activities.admin.AddBannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".activities.admin.MasterBannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".activities.admin.MasterDataSoalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".activities.admin.DashboarAdminActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".activities.admin.LoginAdminActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".activities.StartGameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".activities.PanduanPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".activities.SplashScreenAcitivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>