<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cobaa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_icon_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.TambahSoalRandomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".activities.MasterDataPulauActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".activities.AddPulauActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".activities.AddBannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".activities.MasterBannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".activities.MasterDataSoalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".activities.DashboarAdminActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".activities.LoginAdminActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".QuestionRandomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".StartGameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".activities.IntroPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".TestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".MapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".TesterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".QuestionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed" />
        <activity
            android:name=".activities.SplashScreenAcitivity"
            android:screenOrientation="portrait"
            android:theme="@style/TopRed">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>